@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --muted-foreground: 215.4 16.3% 46.9%;
    --media-brand: 245 245 245;
    --media-focus: 78 156 246;
  }

  .dark {
    --muted-foreground: 215 20.2% 65.1%;
  }
}

@layer base {
  * {
    @apply border-border scrollbar-thin scrollbar-thumb-foreground scrollbar-thumb-rounded-full;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}

option {
  padding-left: 2px;
  text-align: left;
  font-size: medium;
}
